.main-heading{
  text-align:center;
  font-size:30px;
  color: #611717;
}

p{
  text-align:center;
  font-size:20px;
  color: #919191;
}

.reggae-one-regular {
  font-family: "Reggae One", serif;
  font-weight: 400;
  font-style: normal;
}
