body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.tab-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.tab-item {
  margin-bottom: 10px;
}

.tab-button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: white;
  background-color: #6d706e;
  border: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.tab-button:hover {
  background-color: #525453;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: white;
  border: 1px solid #ddd;
  padding: 0 10px;
}

.tab-content.open {
  max-height: 500px; /* 必要に応じて調整 */
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.image-item {
  flex: 1 1 calc(100% - 20px); /* 3列表示 */
  box-sizing: border-box;
}

.image-item img {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.image-item p {
  margin: 5px 0 0;
  text-align: center;
  font-size: 14px;
}
